<div class="submit-form">
        <table class="submit-table">
            <tr>
                <td class="label">币种名称：</td>
                <td>
                 	<input name="id" type="hidden">
                    <input name="currname" class="easyui-textbox" data-options="required:true">
                </td>
            </tr>
            <tr>
                <td class="label">币种代码：</td>
                <td>
                    <input name="currcode" class="easyui-textbox" data-options="required:true">
                </td>
            </tr>
        </table>    
</div>
